/* main{
    background-color: rgb(209, 222, 217);
} */
.sectionForm{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}
.addForm label{
    margin-bottom: 0.5rem;
    font-size: large;
    font-weight: bold;
}
.addForm input ,.addForm textarea{
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
}
.addForm textarea{
    min-height: 200px;
}
button{
    padding: 0.75rem;
    background-color: rgb(12, 4, 8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    color: white;
}